<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">PIXm Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Overview<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="volume-1.html">Overview</a>
      </li>
      <li>
        <a href="volume-1.html#x1-pixm-actors-transactions-and-content-modules">PIXm Actors, Transactions, and Content Modules</a>
      </li>
      <li>
        <a href="volume-1.html#412-pixm-actor-options">PIXm Actor Options</a>
      </li>
      <li>
        <a href="volume-1.html#413-pixm-required-actor-groupings">PIXm Required Actor Groupings</a>
      </li>
      <li>
        <a href="volume-1.html#414-pixm-overview">PIXm Overview</a>
      </li>
      <li>
        <a href="volume-1.html#415-pixm-security-considerations">PIXm Security Considerations</a>
      </li>
      <li>
        <a href="volume-1.html#416-pixm-cross-profile-considerations">PIXm Cross Profile Considerations</a>
      </li>
	  <li>
		<a href="5_testplan.html">Test Plan</a>
	  </li>
	  <li>
		<a href="a_issues.html">Open Issues</a>
	  </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Transactions<b class="caret"></b></a>
	<ul class="dropdown-menu">
      <li>
        <a href="ITI-83.html">Patient Identity cross-Reference Query [ITI-83]</a>
      </li>
      <li>
        <a href="ITI-104.html">Mobile Patient Identity Feed [ITI-104]</a>
      </li>
      <li>
        <a href="ITI-105.html">Patient Identity cross-Reference Structure Definition [ITI-105]</a>
      </li>
	</ul>
  </li>
  <li><a href="artifacts.html">Artifact Index</a></li>
</ul>
